@use 'utilities/variables' as v;

.top-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 40px;
  margin-bottom: 64px;
}

.logo {
  align-items: center;
  display: flex;

  >img {
    cursor: pointer;
    height: 32px;
    width: 72px;
  }
}

.turn-indicator {
  padding-top: 9px;
  background: v.$color-cyan;
  border-radius: 5px;
  box-shadow: inset 0px -4px 0px v.$color-cyan-darkest;
  color: v.$color-gray;
  display: flex;
  // gap: 9px;
  height: 100%;
  justify-content: center;
  margin: auto;
  width: 96px;

  >img {
    height: 16px;
    margin-right: 9px;
    width: 16px;
  }
}

.restart {
  display: flex;
  margin-left: auto;
}

.restart-btn {
  background: v.$color-gray;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0px -4px 0px v.$color-gray-dark;
  cursor: pointer;
  padding: 0 12px;

  >img {
    height: 16px;
    width: 16px;
  }
}