@use 'utilities/variables'as v;

.new-game {
  width: 100%;

  img {
    cursor: pointer;
    height: 32px;
    object-fit: contain;
    width: 72px;
  }

  .logo {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
  }
}

.player-selector {
  background: v.$color-cyan;
  border-radius: 15px;
  box-shadow: inset 0px -8px 0px v.$color-cyan-darkest;
  color: v.$color-gray;
  margin: 32px 0;
  text-align: center;

  &-mark {
    font-weight: v.$font-weight-extrasmall;
    letter-spacing: v.$font-kerning-extrasmall;
    padding: 24px 0;
  }

  &-reminder {
    font-weight: v.$font-weight-body;
    opacity: 0.5;
    padding: 17px 0 30px;
  }
}

.player-selector-toggle {
  background: v.$color-cyan-dark;
  border-radius: 10px;
  display: flex;
  margin: 0px 24px;
  padding: 8px 0px;

  >button {
    background: v.$color-cyan-dark;
    border-radius: 10px;
    border-style: none;
    height: 54px;
    width: 50%;
    
    &#btn-X {
      margin-left: 8px;
    }

    &#btn-O {
      margin-right: 8px;
    }

    &:hover {
      background: rgba(168, 191, 201, 0.05);
    }

    &.active {
      background: v.$color-gray;
    }
  }
}

.opponent-selector {
  color: v.$color-cyan-dark;
  display: flex;
  flex-direction: column;
  // gap: 16px;
  margin-top: 40px;

  > * + * { margin-bottom: 16px;}

  >button {
    border-radius: 15px;
    border-style: none;
    font-family: v.$font-family;
    font-size: v.$font-size-extrasmall;
    font-weight: v.$font-weight-extrasmall;
    letter-spacing: v.$font-kerning-extrasmall;
    padding: 14px 0 22px;

    @media screen and (min-width: 768px) {
      height: 67px;
    }
  }
}

#vs-cpu-btn {
  background: v.$color-yellow;
  box-shadow: inset 0px -8px 0 v.$color-yellow-dark;
  margin-bottom: 20px;
}

#vs-player-btn {
  background: v.$color-cyan-lighter;
  box-shadow: inset 0px -8px 0 v.$color-cyan-light;
}