@use 'utilities/variables'as v;

.modal-background {
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  align-items: center;
  background: v.$color-cyan;
  color: v.$color-gray;
  display: flex;
  flex-direction: column;
  font-weight: v.$font-weight-extrasmall;
  height: fit-content;
  justify-content: center;
  left: 0;
  letter-spacing: v.$font-kerning-medium;
  opacity: 0.9;
  padding-bottom: 45px;
  padding-top: 45px;
  position: absolute;
  width: 100vw;

  button {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: v.$font-family;
    font-size: v.$font-size-extrasmall;
    font-weight: v.$font-weight-extrasmall;
    letter-spacing: v.$font-kerning-extrasmall;
    padding: 16px;
  }
}

.modal-content-top-text {
  padding-bottom: 16px;
}

.modal-content-bottom-text {
  align-items: center;
  display: flex;
  font-size: v.$font-size-medium;
  gap: 10px;

  >img {
    height: 30px;
    width: 30px;
  }
}

.modal-choices {
  display: flex;
  gap: 16px;
  margin-top: 24px;

  &-cancel {
    background-color: v.$color-cyan-lighter;
    min-height: 72px;
  }

  &-settings {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-difficulty {
    display: flex;
    gap: 20px;

    button {
      background-color: v.$color-gray-dark;
      min-height: 72px;
      min-width: 100px;

    &.active {
        background-color: v.$color-white;
      }
    }
  }

  &-quit-or-cancel {
    display: flex;
    gap: 20px;
  }

  &-quit-game {
    background-color: v.$color-yellow;
    min-height: 72px;
    min-width: 100px;
  }
}

.modal-content-restart,
.modal-content-end {
  font-size: v.$font-size-medium;
  font-weight: v.$font-weight-medium;
  letter-spacing: v.$font-kerning-medium;
}

#modal-cancel,
#modal-quit {
  background: v.$color-gray;
  box-shadow: inset 0 -4px 0 v.$color-gray-dark;
  color: v.$color-cyan-dark;
}

#modal-restart,
#modal-nextround {
  background: v.$color-yellow;
  box-shadow: inset 0 -4px 0 v.$color-yellow-dark;
  color: v.$color-cyan-dark;
}

.x-win {
  color: v.$color-cyan-lighter;
}
  
.o-win {
  color: v.$color-yellow;
}