@use "utilities/variables" as v;

.modal-background {
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-bar {
  align-items: center;
  background: v.$color-cyan;
  color: v.$color-gray;
  display: flex;
  flex-direction: column;
  font-weight: v.$font-weight-extrasmall;
  justify-content: center;
  letter-spacing: v.$font-kerning-medium;
  opacity: 0.9;
  padding-bottom: 45px;
  padding-top: 45px;
  position: absolute;
  width: 100%;

  button {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: v.$font-family;
    font-size: v.$font-size-extrasmall;
    font-weight: v.$font-weight-extrasmall;
    letter-spacing: v.$font-kerning-extrasmall;
    padding: 16px;
  }
}

.modal-content-top-text {
  padding-bottom: 16px;
  text-align: center;
}

.modal-content-bottom-text {
  display: flex;
  font-size: v.$font-size-medium;
  justify-content: center;

  > img {
    height: 30px;
    margin-right: 9px;
    width: 30px;
  }
}

.modal-choices {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  width: 327px;

  &-cancel {
    background-color: v.$color-cyan-lighter;
    min-height: 72px;
  }

  &-settings {
    display: grid;
    justify-items: center;
    margin: auto;
    min-width: 375px;
  }

  &-difficulty {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;

    button {
      background-color: v.$color-gray-dark;
      min-height: 72px;
      min-width: 100px;

      &.active {
        background-color: v.$color-white;
      }
    }
  }

  &-quit-or-cancel {
    display: flex;
    gap: 20px;
  }

  &-quit-game {
    background-color: v.$color-yellow;
    margin-left: 20px;
    min-height: 72px;
    min-width: 100px;
  }
}

.modal-content-restart,
.modal-content-end {
  font-size: v.$font-size-medium;
  font-weight: v.$font-weight-medium;
  letter-spacing: v.$font-kerning-medium;
}

#modal-cancel,
#modal-quit {
  background: v.$color-gray;
  box-shadow: inset 0 -4px 0 v.$color-gray-dark;
  color: v.$color-cyan-dark;
  margin-right: 16px;
}

#modal-restart,
#modal-nextround {
  background: v.$color-yellow;
  box-shadow: inset 0 -4px 0 v.$color-yellow-dark;
  color: v.$color-cyan-dark;
}

.modal-choices-difficulty {
  button {
    box-shadow: inset 0 -4px 0 v.$color-gray-darkest;

    &.active {
      box-shadow: inset 0 -4px 0 v.$color-gray-dark;
    }
  }
}

.modal-choices-cancel {
  box-shadow: inset 0 -4px 0 v.$color-cyan-light;
}

.modal-choices-quit-game {
  box-shadow: inset 0 -4px 0 v.$color-yellow-dark;
}

.x-win {
  color: v.$color-cyan-lighter;
}

.o-win {
  color: v.$color-yellow;
}
